{
  "body_patterns": [
    ["Цвет", "^Цвет: (.*)$"],
    ["Размер", "^Размер, мм: (.*)$"],
    ["Планировка", "^Планировка: (.*)$"],
    ["Материал", "^Материал: (.*)$"],
    ["Цена", "^Цена: (.*)$"]
  ]
}